- provide(:title, 'Welcome')
<<<<<<< HEAD
=======
%header#top
  %hgroup
    %h1 Exam Reviewer
  %nav
    %ul
      %li= link_to 'Home', root_path
      %li= link_to 'Sign In', users_path
      %li= link_to 'Sign In as Administrator', admin_admins_path
>>>>>>> c53b48b539cecdda343493a10e71ee5df90cd2ce
