- provide(:title, 'Show Question')

%h3 Question:
%p= @question.question

%h3 Choices
%ul
  -@choices.each do |choice|
    -if choice.isCorrect
      %li= choice.choice + " (Correct Answer) "
    -else
      %li= choice.choice
%br/
%hr

.links
  = link_to 'Back to Questions', admin_exam_questions_path(@exam.id)
